.jumbotron{
	width: 100%; 
	height: 100%;
	left: 0px;
	background:url('http://iamayushanand.github.io/maths/Blocks-Mathematics-wallpaper.jpg');
	z-index:3;
}
#SideTitle{
	color:red;
	font-size:20px;
}
.profile{
	position: absolute;
	top: 50%;
	margin-left: 20%;
}


