<html>


<head>
<script type = "text/javascript" 
         src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- test compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="stylesheet" href="http://iamayushanand.github.io/assets/css/sidebar.css">
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="col-sm-1 col-md-4 sidebar">
		<nav class="navbar"> 
		<div class="container-fluid">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar" ></span>
				<span class="icon-bar" ></span>
				<span class="icon-bar" ></span>                        
		</button>
						      
		
		<img src="http://iamayushanand.github.io/assets/images/profile.jpg" style="margin-left:120px;border-radius:50%;width: 100px;height: 100px" class="img-circle">
		<p style="color:whitesmoke;text-align:center;font-style:italic;width:80%;">{{ site.description }}</p>
		

		  <div class="links" style="margin-left: 100px;">
			  <li>{% include icon-github.html username=site.github_username %}</li>
			  <li>{% include icon-codeforces.html username=site.codeforces_username %}</li>	  
		  </div>
		</div>
		  <hr>
		<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li class="active"><a href="http://iamayushanand.github.io">Ayush Anand's Blog</a></li>
			<li><a href="http://iamayushanand.github.io/assets/html/CLRS.html"  style="color:white;">Project CLRS</a></li>
			<li><a href="http://iamayushanand.github.io/assets/html/CP.html"  style="color:white;">Project Competitive Programming</a></li>
			<li><a href="http://iamayushanand.github.io/assets/html/MISC.html" class="BgHover" style="color:white;">Miscellanious</a></li>


		</ul>
		</div>
		</div>
		</nav>
	
	</div>
	
	
</body>
</html>
