.sidebar {
	
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  background-color: black;
  position: fixed;
  overflow-y:scroll;
}

.nav > li > a:focus, .nav > li > a:hover  {
	background-color:violet!important;

}

.icon-bar{
	background-color:white;
}

@media only screen and (min-width: 360px) and (max-width: 420px){
	.adjustconxs{
		margin-left:-200px;	
	}
}
