.sidebar {
	
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  background-color: black;
  position: fixed;
}

.nav > li > a:focus, .nav > li > a:hover  {
	background-color:violet!important;

}
