<!DOCTYPE html>
<html>
	<style>

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
	text-align: right;
	margin-left: 640px;
	position: relative;
}
.PageNavigation .prev {
  margin-left: 450px;
  position: relative;
}

  </style>
  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="page-content" style="padding-left:500px;">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!--    {% include footer.html %} --!>
    <div class="PageNavigation">
	      {% if page.previous.url %}
	          <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
		    {% endif %}
		      {% if page.next.url %}
		          <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
			    {% endif %}
		    </div>

  </body>

</html>
